.user-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.user-list-item {
  background-color: #f9f9f9;
  margin: 10px 0;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.user-list-item h2 {
  margin: 0;
  color: #333;
  font-size: 1.5em;
}

.user-list-item p {
  margin: 0;
  color: #666;
  font-size: 1.2em;
}

.user-table {
  width: 60%;
  margin-top: 20px;
  font-size: 1.2em;
}

.user-table th,
.user-table td {
  padding: 10px;
  text-align: left;
}

.user-table th {
  color: white;
  font-weight: bold;
}

.user-table tr:hover {
  background-color: #6495ED;
  cursor: pointer;
}

.user-table button {
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 10px;
  padding: 12px;
}

.user-table button:last-child {
  margin-right: 0;
}

.create-button {
  background-color: #6495ED; 
  border: none;
  border-radius: 5px; 
  padding: 10px 20px; 
  cursor: pointer;
  font-size: 1.2em;
  margin-bottom: 10px;
  align-self: flex-start;
  text-decoration: none; 
  color: white;
  transition: background-color 0.3s;
  margin-right: 20%;
  font-weight: bold; 
}

.create-button:hover {
  background-color: gray; 
}
.modal-input {
  width: 100%; 
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px; 
  color: #777;
  -webkit-font-smoothing: subpixel-antialiased;
  font-style: normal;
  font-weight: normal;
}


.modal-input-create {
  width: 100%; 
  padding: 10px; 
  margin-top: 5px;
  color: #777;
  -webkit-font-smoothing: subpixel-antialiased;
  font-style: normal;
  font-weight: normal;
}

form button{
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 15px;
  border-radius: 10px;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  margin-top: 10px;
}

 .title {
  margin: 0;
  color: #fff;
  font-size: 1.5em;
  text-align: center;
}

.exit-button {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 10px;
  right: 10px;
  width: 100%;
  z-index: 1000;
}

.exit-button button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5em;
}